body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f3f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li.right {
    float: right;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

.filters {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.filters label {
    margin-right: 10px;
}

.filters input[type="text"],
.filters input[type="date"] {
    margin-right: 10px;
    padding: 5px;
    width: 150px;
}

.filters button {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 16px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.filters button:first-child {
    margin-left: 0;
}

.filters button:last-child {
    margin-right: 0;
}

.filters button:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #999;
    margin-top: 10px;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
    max-width: 200px;
}

.book img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    padding: 8px 16px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.pagination #page-number {
    margin: 0 10px;
    font-weight: bold;
}
